@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rubik:wght@300&display=swap");

body {
  background-color: #fcebb6;
  background-image: url("images/fadedroad50.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #221811;
  font-family: Rubik, Oswald;
}

header {
  color: #8c3826;
  background-color: #d2b48c;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

main {
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  display: block;
}

h1 {
  font-size: 3em;
}

h2 {
  color: #8c3826;
}

h3,
dt {
  color: #bc3826;
}

h4 {
  background-color: #d2b48c;
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-bottom: 0.25em;
}

nav {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav a {
  text-decoration: none;
}

footer {
  background-color: #d2b48c;
  font-size: 0.6em;
  font-style: italic;
  text-align: center;
  padding-bottom: 1em;
  border-top: 2px solid #8c3826;
}

#wrapper {
  width: 80%;
  min-width: 900px;
  max-width: 1280px;
  background-color: #fefaeb;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 3px #000000;
}

.details {
  padding-left: 20%;
  padding-right: 20%;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

#homehero {
  background-image: url("images/hero.jpg");
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
